[submodule "build/lua-cjson"]
	path = build/lua-cjson
	url = https://github.com/onlyfeng/lua-cjson.git
[submodule "build/pbc"]
	path = build/pbc
	url = https://github.com/onlyfeng/pbc.git
[submodule "build/luajit2"]
	path = build/luajit2
	url = https://github.com/onlyfeng/luajit2
[submodule "build/lpeg"]
	path = build/lpeg
	url = https://github.com/onlyfeng/lpeg
[submodule "build/lua-protobuf"]
	path = build/lua-protobuf
	url = https://github.com/onlyfeng/lua-protobuf.git
[submodule "build/lua-rapidjson"]
	path = build/lua-rapidjson
	url = https://github.com/onlyfeng/lua-rapidjson.git
[submodule "build/luaffifb"]
	path = build/luaffifb
	url = https://github.com/onlyfeng/luaffifb.git
